[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=lab5k
Exec=lab5k
Name=lab5k
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=lab5k
